# Compiled class files
*.class

# Log files
*.log
*.jtl

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# IDE-specific files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Boot
*.pid
*.port

# Mac
.DS_Store

# Performance test results
performance_test_report/
performance_test_*.jtl

# Temp files
temp/
